################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookingManagementCMS/obj
/.vs/BookingManagementCMS/v17
/.vs/BookingManagementCMS/FileContentIndex
/BookingManagementCMS/BookingManagementCMS.csproj.user
/BookingManagementCMS/bin/Debug/net9.0
/.vs
/BookingManagement.Data/obj
/BookingManagement.Data/bin/Debug/net9.0
/Migrations/obj
/Utilities/bin/Debug/net9.0
/Utilities/obj
/Repository/obj
/Repository/bin/Debug/net9.0
/Migrations/bin/Debug/net9.0
/Entities/bin/Debug/net9.0
/Entities/obj
/Data/bin/Debug/net9.0
/Data/obj
/Htmlfiles/obj
/Htmlfiles/bin/Debug/net9.0
/Booking.Application/bin/Debug/net9.0
/Booking.Application/obj
/Booking.Domain/bin/Debug/net9.0
/Booking.Domain/obj
/Booking.Infrastructure/bin/Debug/net9.0
/Booking.Infrastructure/obj
/Booking.Web/bin/Debug/net9.0
/Booking.Web/obj
