################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookingManagementCMS/obj
/.vs/BookingManagementCMS/v17
/.vs/BookingManagementCMS/FileContentIndex
/BookingManagementCMS/BookingManagementCMS.csproj.user
/BookingManagementCMS/bin/Debug/net9.0
/.vs
/BookingManagement.Data/obj
/BookingManagement.Data/bin/Debug/net9.0
/Migrations/obj
