<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/wecare_logo.svg" type="image/x-icon" />
    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon" />
    <title>@ViewData["Title"] - Booking.Web</title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    @await Html.PartialAsync("_Styles")
</head>
<body>
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-12 p-0">
                <div class="login-card">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>


    @await Html.PartialAsync("_Scripts")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
