  <!-- <div class="customizer-links"></div> -->    <!-- latest jquery-->
<script src="https://code.jquery.com/jquery-3.7.1.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js" type="text/javascript"></script>

<!-- Bootstrap js-->
<script src="~/js/bootstrap.bundle.min.js"></script>
<!-- feather icon js-->
<script src="~/js/feather.min.js"></script>
<script src="~/js/feather-icon.js"></script>
<!-- scrollbar js-->
<script src="~/js/simplebar.js"></script>
<script src="~/js/custom.js"></script>
<!-- Sidebar jquery-->
<script src="~/js/config.js"></script>

<!-- tooltip init js  start-->
<script src="~/js/tooltip-init.js"></script>
<!-- tooltip init js  end-->
<!-- slick js start -->
<script src="~/js/slick.js"></script>
<!-- slick js end -->
<!-- Plugins JS start-->
<script src="~/js/sidebar-menu.js"></script>
<script src="~/js/bootstrap-notify.min.js"></script>

@* <script src="~/js/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <script src="~/js/typeahead.bundle.js"></script>
    <script src="~/js/typeahead.custom.js"></script>
    <script src="~/js/handlebars_1.js"></script>
    <script src="~/js/typeahead-custom.js"></script> *@
<!-- Plugins JS Ends-->

<script src="~/js/datepicker.js"></script>

<script src="~/js/datepicker.en.js"></script>

<script src="~/js/datepicker.custom.js"></script>
<!-- Apexchar js start -->

<script src="~/js/moment.min.js"></script>
@*     <script src="~/js/apex-chart.js"></script>
    <script src="~/js/stock-prices.js"></script>
    <script src="~/js/chart-custom.js"></script> *@
<!-- Apexchar js start -->
<!-- ratio start  -->
<script src="~/js/ratio.js"></script>
<!-- vector map start -->
<!-- customizer js start  -->
@*   <script src="~/js/customizer.js"></script> *@
<!-- customizer js start  -->
@*  <script src="~/js/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/js/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/js/map-vector.js"></script> *@
<!-- vector map end -->
<!-- Theme js-->
<script src="~/js/typeahead/typeahead.bundle.js" type="text/javascript"></script>
<script src="~/js/script.js"></script>

<!-- login js-->
<!-- Plugin used-->