<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/wecare_logo.svg" type="image/x-icon" />
    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon" />
    <title>@ViewData["Title"] - BookingManagementCMS</title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&amp;family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet" />

    <!-- FontAsowme css start  -->
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css" />

    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="~/css/themify.css" />
    <!-- ratio start -->
    <link rel="stylesheet" type="text/css" href="~/css/ratio.css" />

    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="~/css/feather-icon.css" />
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="~/css/scrollbar.css" />
    <link rel="stylesheet" type="text/css" href="~/css/animate.css" />
    <!-- Plugins css Ends-->
    <!-- datepicker -->
    <link rel="stylesheet" type="text/css" href="~/css/date-picker.css" />
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <!-- vector map css start -->
    <link rel="stylesheet" type="text/css" href="~/css/vector-map.css" />
    <!-- vector map css start -->
    <!-- slick slider-->
    <link rel="stylesheet" type="text/css" href="~/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/css/slick-theme.css" />
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css" />
</head>
<body>
    <!--Loader-->
    <!-- pre-loader start -->
    <div class="loader-wrapper">
        <img src="~/wecare_logo.svg" width="100px" alt="loader gif" />
        <img src="load.gif" width="100px" alt="loader gif" />
        <!-- <img src="load.gif" alt="loader gif" width="100px" /> -->
    </div>
    <!-- pre-loader End -->
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <div class="page-wrapper compact-wrapper modern-type" id="pageWrapper">
        <!-- Page Header Start-->
      @await Html.PartialAsync("_TopMenu")
        <!-- Page Header Ends -->
        <!-- Page Body Start-->
        <div class="page-body-wrapper">
            <!-- Page Sidebar Start-->
            <div class="sidebar-wrapper">
                <div>
                    <div class="logo-wrapper">
                        <span class="back">Back</span>
                        <div class="back-btn"><i class="fa fa-angle-left"></i></div>
                        <div class="toggle-sidebar">
                            <i class="status_toggle middle sidebar-toggle"
                               data-feather="grid">
                            </i>
                        </div>
                    </div>
                    <div class="logo-icon-wrapper">
                        <a href="/">
                            <img class="img-fluid" src="~/images/logo-icon.png" alt="" />
                        </a>
                    </div>
                    <nav class="sidebar-main">
                        <div class="left-arrow" id="left-arrow">
                            <i data-feather="arrow-left"></i>
                        </div>
                        <div id="sidebar-menu">
                            
                            @await Html.PartialAsync("_SideMenu.cshtml");
                        </div>
                        <div class="right-arrow" id="right-arrow">
                            <i data-feather="arrow-right"></i>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Page Sidebar Ends-->
            <div class="page-body">
                @RenderBody()
                <div class="container-fluid">
                    <!-- footer start-->
                    @await Html.PartialAsync("_Footer.cshtml");
                    <!-- footer End-->
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade"
         id="staticBackdrop"
         data-bs-backdrop="static"
         data-bs-keyboard="false"
         tabindex="-1"
         aria-labelledby="staticBackdropLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title" id="staticBackdropLabel">Logging Out</h5>
                    <p>Are you sure you want to log out?</p>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    <div class="button-box">
                        <button type="button" class="btn btn--no" data-bs-dismiss="modal">
                            No
                        </button>
                        <button type="button" class="btn btn--yes btn-primary">
                            Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="customizer-links"></div> -->    <!-- latest jquery-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js" type="text/javascript"></script>

    <!-- Bootstrap js-->
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <!-- feather icon js-->
    <script src="~/js/feather.min.js"></script>
    <script src="~/js/feather-icon.js"></script>
    <!-- scrollbar js-->
    <script src="~/js/simplebar.js"></script>
    <script src="~/js/custom.js"></script>
    <!-- Sidebar jquery-->
    <script src="~/js/config.js"></script>

    <!-- tooltip init js  start-->
    <script src="~/js/tooltip-init.js"></script>
    <!-- tooltip init js  end-->
    <!-- slick js start -->
    <script src="~/js/slick.js"></script>
    <!-- slick js end -->
    <!-- Plugins JS start-->
    <script src="~/js/sidebar-menu.js"></script>
    <script src="~/js/bootstrap-notify.min.js"></script>

    @* <script src="~/js/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <script src="~/js/typeahead.bundle.js"></script>
    <script src="~/js/typeahead.custom.js"></script>
    <script src="~/js/handlebars_1.js"></script>
    <script src="~/js/typeahead-custom.js"></script> *@
    <!-- Plugins JS Ends-->

    <script src="~/js/datepicker.js"></script>

    <script src="~/js/datepicker.en.js"></script>

    <script src="~/js/datepicker.custom.js"></script>
    <!-- Apexchar js start -->

    <script src="~/js/moment.min.js"></script>
@*     <script src="~/js/apex-chart.js"></script>
    <script src="~/js/stock-prices.js"></script>
    <script src="~/js/chart-custom.js"></script> *@
    <!-- Apexchar js start -->
    <!-- ratio start  -->
    <script src="~/js/ratio.js"></script>
    <!-- vector map start -->
    <!-- customizer js start  -->
  @*   <script src="~/js/customizer.js"></script> *@
    <!-- customizer js start  -->
   @*  <script src="~/js/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/js/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/js/map-vector.js"></script> *@
    <!-- vector map end -->
    <!-- Theme js-->
    <script src="~/js/typeahead/typeahead.bundle.js" type="text/javascript"></script>
    <script src="~/js/script.js"></script>

    <!-- login js-->
    <!-- Plugin used-->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
