@{
    ViewData["Title"] = "All Bookings";
}
<link href="https://cdn.datatables.net/2.3.2/css/dataTables.dataTables.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.2.4/css/buttons.dataTables.css">
<style>

    table.dataTable {
        table-layout: fixed;
        word-wrap: break-word;
        width: 100% !important;
    }

    .all-cars-table th, .all-cars-table td {
        white-space: normal !important;
        vertical-align: middle;
    }

    /* Align DataTable controls */
    div.dataTables_wrapper div.dataTables_length {
        float: left;
        padding-left: 15px;
    }

    div.dataTables_wrapper div.dataTables_filter {
        float: right;
        padding-right: 15px;
    }

    .dataTables_wrapper .dataTables_paginate {
        margin-left: 0px;
        border: none !important;
    }

    table.dataTable thead th, table.dataTable tfoot th {
        font-weight: bold;
        font-size: 12px;
    }

    table.dataTable tbody td {
        font-size: 12px;
    }
</style>
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header card-header--2">
                    <div>
                        <h5>All Driver Bookings</h5>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <div class="table-desi">
                            @Html.AntiForgeryToken()
                            <table class="all-cars-table table table-striped w-100" id="tblbookings">
                                <thead>
                                    <tr>
                                        <th>Vehicle Name</th>
                                        <th>Driver Name</th>
                                        <th>Booking Date</th>
                                        <th>Travel Date</th>
                                        <th>Amount</th>
                                        <th>Package Name</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                            </table>
                            <div id="tblbookings-pagination" class="pagination-controls"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid ends-->
<!-- Container-fluid Ends-->
@section Scripts {
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.min.js"></script>
    <!-- DataTables Buttons extension -->
    <script src="https://cdn.datatables.net/buttons/3.2.4/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.4/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <!-- JSZip for Excel export -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <!-- pdfmake for PDF export -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.4/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.4/js/buttons.print.min.js"></script>
    <script type="text/javascript">
         function viewDetails(bookingId){
                 $.ajax({
                         type: "GET",
                         url: "/Bookings/ViewDetails",
                         data: { BookingId:bookingId },
                         dataType: "json",
                         success: function(result) {
                            console.log(result);
                         },
                         error: function(req, status, error) {
                            console.error(error);
                         }
                    });
                }

        var  bookingsListVM = {
                bookingdt: null,
                init: function () {
                     const token = $('input[name="__RequestVerificationToken"]').val();
                     this.bookingdt = $('#tblbookings').DataTable({
                     processing: true,
                     serverSide: true,
                     stateSave: true,
                      lengthMenu: [10, 25, 50, { label: 'All', value: -1 }],
                     layout: {
                        topStart: {
                            buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
                        }
                    },

                     ajax: {
                            url: '/Bookings/GetAllBookings',
                            type: 'POST',
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json',
                            data: function (d) {
                                console.log(d);
                                return JSON.stringify(d); // Send as JSON string
                            },
                            headers: {
                                'RequestVerificationToken': token
                            },
                            error: function (xhr, error, thrown) {
                                console.error("DataTable error: ", xhr.responseText);
                            }
                        },
                     columns: [
                            { data: 'vehicleName', autoWidth: true },
                            { data: 'driverName', autoWidth: true },
                            { data: 'bookingDate', autoWidth: true },
                            { data: 'travelDate', autoWidth: true },
                            { data: 'amount', autoWidth: true },
                            { data: 'packageName', autoWidth: true },
                            {
                                data: 'Id',
                                render: function (data, type, full, meta) {
                                    return `<a href="/Booking/View/${data}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                            <a href="/Booking/Delete/${data}"><i class="fa fa-trash-o"aria-hidden="true"></i></a>`
                                }
                            }
                        ],
                          language: {
                                emptyTable: "No entries to show"
                            }
                    });
                },
                refresh: function () {
                    if (this.bookingdt) {
                        this.bookingdt.ajax.reload();
                    }
                }
            };
            $(document).ready(function () {
                bookingsListVM.init();
        });
    </script>
}
