@model Booking.Application.DTOs.LoginDto
@{
    Layout = "_LoginLayout";
}
<div>
    <div>
        <a class="logo" href="index.html">
            <img class="img-fluid for-light"
                 src="/wecare_logo.svg"
                 width="100px"
                 alt="looginpage" />
            <img class="img-fluid for-dark"
                 src="/wecare_logo.svg"
                 alt="looginpage" />
        </a>
    </div>
    <div class="login-main">
        <form class="theme-form" asp-action="Index" asp-controller="Account" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <h4>Sign in to account</h4>
            <p>Enter your email &amp; password to login</p>
            <div class="form-group">
                <label class="col-form-label form-label-title">UserName/Email/Phone</label>
                <input class="form-control"
                       type="text"
                       required="required"
                       name="LoginUser"
                       placeholder="username/email/phone" />
            </div>
            <div class="form-group">
                <label class="col-form-label form-label-title">Password</label>
                <div class="form-input position-relative">
                    <input class="form-control"
                           type="password"
                           name="Password"
                           required="required"
                           placeholder="*********" />
                    <div class="show-hide"><span class="show"> </span></div>
                </div>
            </div>
            <div class="form-group mb-0">
                <div class="checkbox p-0">
                    <input id="chkRemember" name="RememberMe" type="checkbox" />
                    <label class="text-muted" for="chkRemember">Remember password</label>
                </div>
                <a class="link" href="forget-password.html">Forgot password?</a>
                <div class="text-end mt-3">
                    <button class="btn btn-primary btn-block w-100"
                            type="submit">
                        Sign in
                    </button>
                </div>
            </div>
            <h6 class="text-muted mt-4 or">Or Sign in with</h6>
            <div class="social mt-4">
                <div class="btn-showcase">
                    <a class="btn btn-light"
                       href="https://www.linkedin.com/login"
                       target="_blank">
                        <i class="txt-linkedin" data-feather="linkedin"></i>
                        LinkedIn
                    </a><a class="btn btn-light"
                           href="https://twitter.com/login?lang=en"
                           target="_blank">
                        <i class="txt-twitter" data-feather="twitter"></i>twitter
                    </a><a class="btn btn-light"
                           href="https://www.facebook.com/"
                           target="_blank">
                        <i class="txt-fb" data-feather="facebook"></i>facebook
                    </a>
                </div>
            </div>
            <p class="mt-4 mb-0 text-center">
                Don't have account?<a class="ms-2" asp-action="Register" asp-controller="Account">Create Account</a>
            </p>
        </form>
    </div>
</div>