@model Booking.Application.DTOs.RegisterDto
@{
    Layout = "_LoginLayout";
}
<div asp-validation-summary="All" class="text-danger"></div>
<div class="login-card">
    <div>
        <div>
            <a class="logo" href="index.html">
                <img class="img-fluid for-light" src="/wecare_logo.svg" width="100px" alt="looginpage" />
                <img class="img-fluid for-dark" src="/wecare_logo.svg" alt="looginpage" />
            </a>
        </div>
        <div class="login-main">
            <form class="theme-form" method="post" asp-action="Register" asp-controller="Account" enctype="application/x-www-form-urlencoded">
                @Html.AntiForgeryToken()
                <h4>Create your account</h4>
                <p>Enter your personal details to create account</p>
                <div class="form-group">
                    <label class="col-form-label form-label-title pt-0" asp-for="FirstName">Your Name</label>
                    <div class="row g-2">
                        <div class="col-6">
                            <input class="form-control" type="text" required="" asp-for="FirstName" placeholder="First name" />
                        </div>
                        <div class="col-6">
                            <input class="form-control" type="text" required="" asp-for="LastName" placeholder="Last name" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-form-label form-label-title" asp-for="Email">Email Address</label>
                    <input class="form-control" type="email" asp-for="Email" required="" placeholder="Test@gmail.com" />
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-group">
                    <label class="col-form-label form-label-title" asp-for="Contact">Phone Number</label>
                    <input class="form-control" type="text" asp-for="Contact" required="" placeholder="+91 8975645453" />
                    <span asp-validation-for="Contact"></span>
                </div>
                <div class="form-group">
                    <label class="col-form-label form-label-title" asp-for="Password">Password</label>
                    <div class="form-input position-relative">
                        <input class="form-control" type="password" asp-for="Password" required="" placeholder="*********" />
                        <span asp-validation-for="Password"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-form-label form-label-title" asp-for="ConfirmPassword">Password</label>
                    <div class="form-input position-relative">
                        <input class="form-control" type="password" asp-for="ConfirmPassword" required="" placeholder="*********" />
                        <span asp-validation-for="ConfirmPassword"></span>
                    </div>
                </div>
                <div class="form-group mb-0">
                    <div class="checkbox p-0">
                        <input asp-for="AcceptPrivacyPolicy" type="checkbox" />
                        <label asp-for="AcceptPrivacyPolicy" class="text-muted">
                            Agree with<a class="ms-2" href="/">
                                Privacy
                                Policy
                            </a>
                        </label>
                        <span asp-validation-for="AcceptPrivacyPolicy"></span>
                    </div>
                    <button class="btn btn-primary btn-block w-100" type="submit">
                        Create Account
                    </button>
                </div>
                <h6 class="text-muted mt-4 or">Or signup with</h6>
                <div class="social mt-4">
                    <div class="btn-showcase">
                        <a class="btn btn-light" href="https://www.linkedin.com/login" target="_blank">
                            <i class="txt-linkedin" data-feather="linkedin"></i>
                            LinkedIn
                        </a><a class="btn btn-light" href="https://twitter.com/login?lang=en" target="_blank">
                            <i class="txt-twitter" data-feather="twitter"></i>twitter
                        </a><a class="btn btn-light"
                               href="https://www.facebook.com/" target="_blank">
                            <i class="txt-fb"
                               data-feather="facebook"></i>facebook
                        </a>
                    </div>
                </div>
                <p class="mt-4 mb-0">
                    Already have an account?<a class="ms-2" href="login.html">Sign in</a>
                </p>
            </form>
        </div>
    </div>
</div>