@model Booking.Application.DTOs.RoleDto

@{
    ViewData["Title"] = "Role Details";
}

<div class="container-fluid py-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card shadow rounded-3">
                <div class="card-header text-center bg-primary text-white">
                    <h3 class="mb-0">Role Details</h3>
                </div>

                <div class="card-body p-4">
                    <dl class="row">
                        <dt class="col-5 col-sm-4">Role Name</dt>
                        <dd class="col-7 col-sm-8 fw-bold">@Model.Name</dd>

                        <dt class="col-5 col-sm-4">Description</dt>
                        <dd class="col-7 col-sm-8">@Model.Notes</dd>

                        <dt class="col-5 col-sm-4">Created At</dt>
                        <dd class="col-7 col-sm-8">@Model.CreatedOn?.ToString("dd-MM-yyyy hh:mm tt")</dd>

                        <dt class="col-5 col-sm-4">Updated At</dt>
                        <dd class="col-7 col-sm-8">@Model.UpdatedOn?.ToString("dd-MM-yyyy hh:mm tt")</dd>
                    </dl>
                </div>

                <div class="card-footer text-center">
                    <a asp-action="Index" class="btn btn-outline-primary w-50">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
