@{
    ViewData["Title"] = "Promotions List";
}

<style>
    table.dataTable {
        table-layout: fixed;
        word-wrap: break-word;
        width: 100% !important;
    }

    .all-cars-table th, .all-cars-table td {
        white-space: normal !important;
        vertical-align: middle;
    }

    /* .pagination-box {
                                                margin-top: 20px;
                                            } */

    /* Align DataTable controls */
    div.dataTables_wrapper div.dataTables_length {
        float: left;
        padding-left: 15px;
    }

    div.dataTables_wrapper div.dataTables_filter {
        float: right;
        padding-right: 15px;
    }

    .dataTables_wrapper .dataTables_paginate {
        margin-left: 0px;
        border: none !important;
    }
</style>

<!-- Container-fluid starts-->
<div class="container-fluid">
    @if (!string.IsNullOrEmpty(Convert.ToString(TempData["couponCodeSuccessMessage"])))
    {
        <div id="couponCodeAlertMessage" class="alert alert-success alert-dismissible fade show mt-3" role="alert">
            @Convert.ToString(TempData["couponCodeSuccessMessage"])
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header card-header--2">
                    <div>
                        <h5>All Promotions</h5>
                    </div>
                    <form class="d-inline-flex">
                        <a asp-controller="CouponCode" asp-action="Create" class="btn btn-theme">
                            <i data-feather="plus-square"></i>Add New
                        </a>
                    </form>
                </div>

                <div class="card-body">
                    <!-- Removed table-responsive to prevent scroll -->
                    <div class="table-desi">
                        @Html.AntiForgeryToken()
                        <table id="dtPromotion" class="all-cars-table table table-striped w-100">
                            <thead>
                                <tr>
                                    <th>Couponcode</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>MinRange</th>
                                    <th>MaxRange</th>
                                    <th>View</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            //Hide the success message
            HidePromotionMessageLabel();

            //data table results
            var table = $('#dtPromotion').DataTable({
                processing: true,
                serverSide: true,
                info: false, // Hide "Showing X to Y of Z entries"
                stateSave: true,
                ajax: {
                    url: '/CouponCode/LoadData',
                    type: 'POST',
                    //contentType: 'application/json',
                    headers: {
                            'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                    }//,
                    // data: function (d) {
                    //             return JSON.stringify(d); // send as JSON
                    //         }
                },
                language: {
                    processing: `
                        <div style="text-align:center;padding:20px;">
                            <i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color:#2a2b2b;"></i>
                            <span class="sr-only">Loading...</span>
                        </div>`
                },
                drawCallback: function (settings) {
                    customizePagination(table);
                },
                columns: [
                    { data: 'code', autoWidth: true },
                    { data: 'validityFrom', autoWidth: true },
                    { data: 'validityTo', autoWidth: true },
                    { data: 'priceRangeMin', autoWidth: true },
                    { data: 'priceRangeMax', autoWidth: true },
                    {
                        data: 'couponCodeId',
                        render: function (data, type, row) {
                            return `
                                    <form method="post" action="/CouponCode/Details" onsubmit="event.stopPropagation();" style="display:inline;">
                                    <input type="hidden" name="id" value="${data}" />
                                    <button type="submit" class="btn btn-link p-0" title="View" style="border: none; background: none;">
                                            <i class="fa fa-eye" aria-hidden="true" style="color: #747dc6;"></i>
                                        </button>
                                    </form>`;
                        }
                    },
                    {
                        data: 'couponCodeId',
                        render: function (data, type, row) {
                            return `
                                    <form method="post" action="/CouponCode/Edit" onsubmit="event.stopPropagation();" style="display:inline;">
                                    <input type="hidden" name="id" value="${data}" />
                                    <button type="submit" class="btn btn-link p-0" title="Edit" style="border: none; background: none;">
                                            <i class="fa fa-pencil-square-o"aria-hidden="true" style="color: #4aa4d9"></i>
                                        </button>
                                    </form>`;
                        }
                    },
                    {
                        data: 'couponCodeId',
                        render: function (data, type, row) {
                            return `<a class="delete-promotion" href="javascript:void(0);" data-id="${data}"><i class="fa fa-trash-o"aria-hidden="true"></i></a>`
                            //return `<a onclick=DeleteData(${data})><i class="fa fa-trash-o"aria-hidden="true"></i></a>`
                        }
                    }
                ]
            });
        });

        //data table pagination
        function customizePagination(table) {
            const pagination = $('#dtPromotion_paginate');
            const currentPage = table.page.info().page + 1;
            const totalPages = table.page.info().pages;

            let customPagination = `
                <div class="pagination-box">
                  <div class="dtpagination-height my-4">
                    <nav class="ms-auto me-auto" aria-label="...">
                        <ul class="pagination pagination-primary justify-content-center">
                            <li class="page-item ${currentPage === 1 ? 'disabled' : ''}">
                                <a class="page-link" href="javascript:void(0)" data-page="prev">Previous</a>
                            </li>`;

            for (let i = 1; i <= totalPages; i++) {
                customPagination += `
                    <li class="page-item ${i === currentPage ? 'active' : ''}">
                        <a class="page-link" href="javascript:void(0)" data-page="${i}">${i}</a>
                    </li>`;
            }

            customPagination += `
                            <li class="page-item ${currentPage === totalPages ? 'disabled' : ''}">
                                <a class="page-link" href="javascript:void(0)" data-page="next">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div></div>`;

            pagination.html(customPagination);

            $('.pagination-box .page-link').off('click').on('click', function () {
                const page = $(this).data('page');
                if (page === 'next') {
                    table.page('next').draw('page');
                } else if (page === 'prev') {
                    table.page('previous').draw('page');
                } else {
                    table.page(parseInt(page) - 1).draw('page');
                }
            });
            //Delete the promotion
            $(document).on('click', '.delete-promotion', function () {
                var id = $(this).data('id');
                if (confirm("Are you sure you want to delete?")) {
                    Delete(id);
                }
            });
            //Delere promotion post event handeler
            function Delete(promotionId) {
                var url = '@Url.Content("~/")' + "CouponCode/Delete";
                $.post(url, { id: promotionId }, function (data) {
                    if (data) {
                        $('.container-fluid').first().prepend(`<div id="couponCodeAlertMessage"
                                                                  class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                                                                  Promotion deleted successfully.
                                                                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                             </div>`);
                        table.ajax.reload();
                        HidePromotionMessageLabel();
                    } else {
                         $('.container-fluid').first().prepend(`<div id="couponCodeAlertMessage"
                                                                  class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                                                                  Unable to delete promotion.Please try again after some time.
                                                                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                             </div>`);
                         HidePromotionMessageLabel();
                    }
                });
            }
        }
        //Hide promotion successs message
        function HidePromotionMessageLabel()
        {
            //Hide the success message
            setTimeout(() =>
            {
                $('#couponCodeAlertMessage').hide();
            },3000);
        }
    </script>
}
