@using Entities;

@model IEnumerable<CouponCode>;

@{
    ViewData["Title"] = "Pramotions List";
}

<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header card-header--2">
                    <div>
                        <h5>All Pramotions</h5>
                    </div>
                    <form class="d-inline-flex">
                        <a href="add-new-cars.html" class="btn btn-theme">
                            <i data-feather="plus-square"></i>Add New
                        </a>
                    </form>
                </div>

                <div class="card-body">
                    <div>
                        <div class="table-responsive table-desi">
                            <table class="all-cars-table table table-striped">
                                <thead>
                                    <tr>
                                        <th>Car Photo</th>
                                        <th>Car Name</th>
                                        <th>Type</th>
                                        <th>Fare/km</th>

                                        <th>View</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span>
                                                <img src="images/1.png" alt="users" />
                                            </span>
                                        </td>
                                        <td>
                                            <a href="#">
                                                <span class="d-block fw-bold">Peugeot Citroen</span>
                                            </a>
                                        </td>
                                        <td>
                                            <span class="badge badge-primary"> Sadan</span>
                                        </td>
                                        <td>$20</td>

                                        <td>
                                            <a href="cars-detail.html">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-pencil-square-o"
                                                   aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-trash-o"
                                                   aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>
                                                <img src="images/2.png" alt="users" />
                                            </span>
                                        </td>
                                        <td>
                                            <a href="#">
                                                <span class="d-block fw-bold">Suzuki</span>
                                            </a>
                                        </td>
                                        <td>
                                            <span class="badge badge-primary"> Medium</span>
                                        </td>
                                        <td>$30</td>

                                        <td>
                                            <a href="cars-detail.html">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-pencil-square-o"
                                                   aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-trash-o"
                                                   aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>
                                                <img src="images/3.png" alt="users" />
                                            </span>
                                        </td>
                                        <td>
                                            <a href="#">
                                                <span class="d-block fw-bold">Fiat Chrysler</span>
                                            </a>
                                        </td>
                                        <td>
                                            <span class="badge badge-primary"> Mini</span>
                                        </td>
                                        <td>$15</td>

                                        <td>
                                            <a href="cars-detail.html">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-pencil-square-o"
                                                   aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-trash-o"
                                                   aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>
                                                <img src="images/4.png" alt=" users" />
                                            </span>
                                        </td>
                                        <td>
                                            <a href="#"><span class="d-block fw-bold">Honda</span></a>
                                        </td>
                                        <td>
                                            <span class="badge badge-secondary">
                                                Standard
                                            </span>
                                        </td>
                                        <td>$40</td>

                                        <td>
                                            <a href="cars-detail.html">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-pencil-square-o"
                                                   aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-trash-o"
                                                   aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>
                                                <img src="images/5.png" alt="users" />
                                            </span>
                                        </td>
                                        <td>
                                            <a href="#"><span class="d-block fw-bold">Ford</span></a>
                                        </td>
                                        <td>
                                            <span class="badge badge-secondary">
                                                Tempo Travel
                                            </span>
                                        </td>
                                        <td>$55</td>

                                        <td>
                                            <a href="cars-detail.html">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-pencil-square-o"
                                                   aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-trash-o"
                                                   aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>
                                                <img src="images/6.png" alt="users" />
                                            </span>
                                        </td>
                                        <td>
                                            <a href="#">
                                                <span class="d-block fw-bold">Hyundai-Kia</span>
                                            </a>
                                        </td>
                                        <td>
                                            <span class="badge badge-secondary"> SUV</span>
                                        </td>
                                        <td>$25</td>

                                        <td>
                                            <a href="cars-detail.html">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-pencil-square-o"
                                                   aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-trash-o"
                                                   aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>
                                                <img src="images/7.png" alt=" users" />
                                            </span>
                                        </td>
                                        <td>
                                            <a href="#">
                                                <span class="d-block fw-bold">General Motors</span>
                                            </a>
                                        </td>
                                        <td>
                                            <span class="badge badge-primary"> Luxury</span>
                                        </td>
                                        <td>$25</td>

                                        <td>
                                            <a href="cars-detail.html">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-pencil-square-o"
                                                   aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-trash-o"
                                                   aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>
                                                <img src="images/8.png" alt=" users" />
                                            </span>
                                        </td>
                                        <td>
                                            <a href="#">
                                                <span class="d-block fw-bold">Plug-In Hybrid Cars</span>
                                            </a>
                                        </td>
                                        <td>
                                            <span class="badge badge-primary"> Luxury</span>
                                        </td>
                                        <td>$25</td>

                                        <td>
                                            <a href="cars-detail.html">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-pencil-square-o"
                                                   aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-trash-o"
                                                   aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>
                                                <img src="images/9.png" alt=" users" />
                                            </span>
                                        </td>
                                        <td>
                                            <a href="#">
                                                <span class="d-block fw-bold">Pick-Up Vehicles</span>
                                            </a>
                                        </td>
                                        <td>
                                            <span class="badge badge-primary"> Luxury</span>
                                        </td>
                                        <td>$25</td>
                                        <td>
                                            <a href="cars-detail.html">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-pencil-square-o"
                                                   aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-trash-o"
                                                   aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>
                                                <img src="images/10.png" alt="users" />
                                            </span>
                                        </td>
                                        <td>
                                            <a href="#">
                                                <span class="d-block fw-bold">Kia EV6</span>
                                            </a>
                                        </td>
                                        <td>
                                            <span class="badge badge-secondary">
                                                Luxury
                                            </span>
                                        </td>
                                        <td>$25</td>

                                        <td>
                                            <a href="cars-detail.html">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-pencil-square-o"
                                                   aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-trash-o"
                                                   aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>
                                                <img src="images/11.png" alt="users" />
                                            </span>
                                        </td>
                                        <td>
                                            <a href="#">
                                                <span class="d-block fw-bold">Kia Creed</span>
                                            </a>
                                        </td>
                                        <td>
                                            <span class="badge badge-secondary">
                                                Luxury
                                            </span>
                                        </td>
                                        <td>$25</td>

                                        <td>
                                            <a href="cars-detail.html">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-pencil-square-o"
                                                   aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-trash-o"
                                                   aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="pagination-box">
                    <nav class="ms-auto me-auto" aria-label="...">
                        <ul class="pagination pagination-primary">
                            <li class="page-item disabled">
                                <a class="page-link"
                                   href="javascript:void(0)"
                                   tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)">1</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->