@{
    ViewData["Title"] = "Driver Vehicle List";
}
<link href="https://cdn.datatables.net/2.3.2/css/dataTables.dataTables.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.2.4/css/buttons.dataTables.css">
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header card-header--2">
                    <div>
                        <h5>All Driver Vehicles</h5>
                    </div>
                    <form class="d-inline-flex">
                        <div class="d-flex gap-2">
                            <a asp-controller="Driver" asp-action="Create" class="btn btn-theme">
                                <i data-feather="plus-square"></i>Add New
                            </a>

                            <a href="@Url.ActionLink("Import", "Driver")" class="btn btn-theme">
                                <i data-feather="file-plus"></i>Import
                            </a>
                        </div>

                    </form>
                </div>

                <div class="card-body">
                    <div>
                        <div class="table-desi">
                            @Html.AntiForgeryToken()
                            <table class="all-cars-table table table-striped w-100" id="tblvehicledriver">
                                <thead>
                                    <tr>
                                        <th>Vehicle Photo</th>
                                        <th>Vehicle Name</th>
                                        <th>Vehicle Type</th>
                                        <th>Seating Capacity</th>
                                        <th>Driver Name</th>
                                        <th>Driver Contact</th>
                                        <th>Created Date</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                            </table>
                            <div id="vehicledriver-pagination" class="pagination-controls"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid ends-->
<!-- Container-fluid Ends-->
@section Scripts {
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.min.js"></script>
    <!-- DataTables Buttons extension -->
    <script src="https://cdn.datatables.net/buttons/3.2.4/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.4/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <!-- JSZip for Excel export -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <!-- pdfmake for PDF export -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.4/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.4/js/buttons.print.min.js"></script>
    <script type="text/javascript">
        function approveDriver(driverid){
                 $.ajax({
                         type: "GET",
                         url: "/Driver/Approve",
                         data: { DriverVehicleId:driverid },
                         dataType: "json",
                         success: function(result) {
                            console.log(result);
                         },
                         error: function(req, status, error) {
                            console.error(error);
                         }
                    });
                }

        function rejectDriver(driverid){
             $.ajax({
                    type: "GET",
                    url: "/Driver/Reject",
                    data: { DriverVehicleId:driverid },
                    dataType: "json",
                    success: function(result) {
                    console.log("Sum is:", result);
                    },
                    error: function(req, status, error) {
                    console.error(error);
                    }
                });

        }
        var  driverListVM = {
                Driverdt: null,
                init: function () {
                     const token = $('input[name="__RequestVerificationToken"]').val();
                     this.Driverdt = $('#tblvehicledriver').DataTable({
                     processing: true,
                     //dom: 'Bfrtip',
                     serverSide: true,
                     stateSave: true,
                     lengthMenu: [10, 25, 50, { label: 'All', value: -1 }],
                     layout: {
                        topStart: {
                            // buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
                                     buttons: [
                                  {
                                    extend: 'collection',
                                    text: 'Export All',
                                    buttons: [                                     
                                      {
                                        extend: 'excel',
                                        text: 'Excel (Server)',
                                        action: function (e, dt, node, config) {
                                           setTimeout(function(){
                                              $(node).removeClass('processing');
                                           },500)
                                          window.location = '/Driver/ExportAll';
                                        }
                                      },
                                      'copy',
                                      'csv',
                                      'pdf',
                                      'print'
                                    ]
                                  }
                                ]
                        },
                        bottomEnd: {
                            paging: {
                                type: 'simple'
                            }
                        }
                    },

                     ajax: {
                            url: '/Driver/LoadDriverData',
                            type: 'POST',
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json',
                            data: function (d) {
                                return JSON.stringify(d); // Send as JSON string
                            },
                            headers: {
                                'RequestVerificationToken': token
                            },
                            error: function (xhr, error, thrown) {
                                console.error("DataTable error: ", xhr.responseText);
                            }
                        },
                     // layout: {
                     //     bottomStart: {
                     //                info: {
                     //                    empty: 'No entries to show'
                     //                }
                     //            }
                     // },
                     columns: [
                             {
                                data: 'photo',
                                autoWidth: true,
                                render: function (data, type, full, meta) {
                                    return `<img src="${data}" alt="${full.driverId}" class="img-thumbnail" style="height:40px;" />`;
                                }
                            },
                            { data: 'vehicleName', autoWidth: true },
                            { data: 'seatingCapacity', autoWidth: true },
                            { data: 'vehicleType', autoWidth: true },
                            { data: 'driverName', autoWidth: true },
                            { data: 'contact', autoWidth: true },
                            { data: 'createdDate', autoWidth: true },
                            {
                                data: 'driverId',
                                render: function (data, type, full, meta) {
                                    console.log(full.ApproveDriver)
                                    return `<a href="javascript:void(0)" onclick="approveDriver(${data})"><i class="fa fa-check" aria-hidden="true"></i></a>
                                         |  <a href="javascript:void(0)" onclick="rejectDriver(${data})"><i class="fa fa-trash-o"aria-hidden="true"></i></a>`
                                }
                            }
                        ],
                          language: {
                                emptyTable: "No entries to show"
                            }
                    });
                },
                refresh: function () {
                    if (this.Driverdt) {
                        this.Driverdt.ajax.reload();
                    }
                }
            };
            $(document).ready(function () {
                driverListVM.init();
        });
    </script>
}
